// ==========================================================================
// Styles for: Is My Train Delayed?
// ==========================================================================

//
// Imports
// --------------------------------------------------------------------------
@import 'common/_mixins.scss';

//
// Variables
// --------------------------------------------------------------------------
$clr-on-time: green;
$clr-delayed: red;
$clr-body-bg: #fff;
$clr-btn-primary: #7791C1;
$clr-footer-bg: #ddd;
$clr-link: #7791C1;
$clr-title: #7791C1;

$ff-sans: "Fira Sans", Roboto, "San Francisco", "Helvetica Neue", "Myrid Pro", Arial, sans-serif;

//
// Globals
// --------------------------------------------------------------------------
.accessible {
	position: absolute;
	text-indent: -1000px;
	clip: rect(0,0,0);
	width: 1px;
	height: 1px;
}
* {
	box-sizing: border-box;
}
html {
	margin: 0;
	font-size: 62.5%;
}
body {
	margin: 0;
	font-size: 1.4rem;
	font-family: $ff-sans;
	color: #333;
	background-color: $clr-body-bg;
}
header {
	@include flexbox();
	justify-content: center;
}
main {
	@include flexbox();
	flex-direction: column;
	align-items: center;
	font-size: 1.8rem;

	> * {
		margin-bottom: 1rem;
	}
}
footer {
	@include flexbox();
	align-items: center;
	justify-content: center;
	margin: 2rem 0 0;
	padding: 1rem;
	font-size: 1.8rem;
	background-color: $clr-footer-bg;
}
table {
	border-collapse: collapse;
}
thead {
	td {
		font-weight: bold;
		border-bottom: 6px solid #ddd;
	}
}
tbody {
	tr {
		border-bottom: 1px solid #ddd;
	}
	td {
		&:nth-child(2) {
			padding: 1rem 3rem 1rem 1rem;
		}
		&:last-child {
			text-align: center;
		}
	}
}
td {
	padding: 1rem 2rem;
}
button {
	width: 100%;
	padding: 1rem;
	font-size: 1.8rem;
	border: 0;
	border-radius: 0;
	color: #fff;
	border-bottom: 5px solid lighten($clr-btn-primary, 15%);
	background-color: $clr-btn-primary;

	&:hover {
		cursor: pointer;
	}
}
h1 {
	margin-bottom: 0;
	font-size: 500%;
	color: $clr-title;

	@media (max-width: 805px) {
		font-size: 300%;
	}
	@media (max-width: 480px) {
		font-size: 245%;
	}
}
h2 {
	margin: 2rem 0 0;
	font-size: 115%;
}
a {
	color: $clr-link;
}


//
// Styles
// --------------------------------------------------------------------------
.wrapper {
	max-width: 70%;
	min-height: 100vh;
	height: 100%;
	margin: 0 auto;

	@media (max-width: 480px) {
		max-width: 95%;
	}
}
.on-time {
	background-color: $clr-on-time;
}
.delayed {
	background-color: $clr-delayed;

	&-msg {
		display: block;
		font-size: 1.1rem;
		font-weight: bold;

		&--hidden {
			display: none;
		}
	}
}
.site-info {
	margin: 7rem 0 0;
	padding: 0 15%;
}
.train-info {
	margin: 3rem auto 0;

	&__last-retrieved {
		font-size: 1.4rem;
		font-style: italic;
	}
}

//
// Status Circle
//
.status-circle {
	display: block;
	height: 1.25rem;
	width: 1.25rem;
	border-radius: 50%;
}