// ==========================================================================
// Styles for: Is My Train Delayed?
// ==========================================================================

//
// Imports
// --------------------------------------------------------------------------
@import 'common/_mixins.scss';

//
// Variables
// --------------------------------------------------------------------------
$clr-on-time: #29f442;
$clr-delayed: #fa0001;
$clr-body-bg: #fff;
$clr-btn-primary: #7791C1;
$clr-link: #7791C1;
$clr-title: #7791C1;
$clr-footer-bg: #7791C1;

$ff-sans: "Fira Sans", Roboto, "San Francisco", "Helvetica Neue", "Myrid Pro", Arial, sans-serif;

//
// Globals
// --------------------------------------------------------------------------
.accessible {
	position: absolute;
	text-indent: -1000px;
	clip: rect(0,0,0);
	width: 1px;
	height: 1px;
}
.attribution {
	font-size: 80%;
}
* {
	box-sizing: border-box;
}
html {
	width: 100%;
	margin: 0;
	font-size: 62.5%;
}
body {
	overflow-x: hidden;
	width: 100%;
	margin: 0;
	font-size: 1.4rem;
	font-family: $ff-sans;
	color: #333;
	background-color: $clr-body-bg;
}
header {
	@include flexbox();
	justify-content: center;
}
main {
	@include flexbox();
	flex-direction: column;
	align-items: center;
	font-size: 1.8rem;

	> * {
		margin-bottom: 1rem;
	}
}
footer {
	@include flexbox();
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 2rem 0 0;
	padding: 1.5rem 1rem;
	font-size: 1.8rem;
	background-color: lighten($clr-footer-bg, 25%);

	p {
		margin: 0;
	}
}
table {
	border-collapse: collapse;
}
thead {
	td {
		border-bottom: 6px solid #ddd;
	}
}
td {
	padding: 1rem 2rem;
}
tbody {
	tr {
		border-bottom: 1px solid #ddd;
	}
	td {
		&:first-of-type {
			@media (max-width: 480px) {
				padding: 1rem 1.5rem;
			}
		}
		&:nth-child(2) {
			padding: 1rem 3rem 1rem 1rem;
			font-weight: 600;
		}
		&:last-child {
			text-align: center;
		}
	}
}
button {
	@include transition();
	@include shadow(200);
	width: 100%;
	padding: 1rem;
	font-size: 1.8rem;
	border: 0;
	border-radius: 3px;
	color: #fff;
	background-color: $clr-btn-primary;

	&:hover {
		@include shadow(300);
		cursor: pointer;
	}
}
h1 {
	margin-bottom: 0;
	letter-spacing: -1px;
	font-size: 500%;
	color: $clr-title;

	@media (max-width: 805px) {
		font-size: 300%;
	}
	@media (max-width: 480px) {
		font-size: 280%;
	}
}
h2 {
	margin: 2rem 0 0;
	font-size: 115%;
}
a {
	color: $clr-link;
}
svg {
	&:not(:root) {
		overflow: hidden;
	}
}

//
// Icons
// --------------------------------------------------------------------------
.icon {
	width: 2rem;
	height: 2rem;
	vertical-align: bottom;
}
.icon--refresh {
	fill: #fff;
	margin-right: .5rem;
}

//
// Animations
// --------------------------------------------------------------------------
.spin {
  -webkit-animation: spin 2s infinite linear;
          animation: spin 2s infinite linear;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

//
// Styles
// --------------------------------------------------------------------------
.wrapper {
	max-width: 70%;
	min-height: 100vh;
	height: 100%;
	margin: 0 auto;

	@media (max-width: 480px) {
		max-width: 100%;
		width: 100%;
	}
}
.on-time {
	background-color: $clr-on-time;
}
.delayed {
	background-color: $clr-delayed;

	&-msg {
		display: block;
		font-size: 1.1rem;
		font-weight: bold;

		&--hidden {
			display: none;
		}
	}
}

//
// Site Information
// --------------------------------------------------------------------------
.site-info {
	margin: 7rem 0 0;
	padding: 0 15%;

	@media (max-width: 992px) {
		margin-top: 5rem;
	}
	@media (max-width: 480px) {
		max-width: 80%;
		margin: 5rem auto 0;
		padding: 0;
	}
}

//
// Train Info Table
// --------------------------------------------------------------------------
.train-info {
	margin: 3rem auto 0;

	&__last-retrieved {
		font-size: 1.4rem;
		font-style: italic;
	}
}

//
// Delay Information - Tabular
// --------------------------------------------------------------------------
.delay {
	margin: 0 0 1rem;
	padding: 0 0 1rem 2rem;
	border-bottom: 1px solid #ddd;

	&:first-child {
		margin: 1rem 0 1rem;
	}
	&:last-child {
		margin: 1rem 0 0;
		border-bottom: 0;
	}
}
.delay-info {
	// Hidden until expanded
	display: none;

	&.delay-info--show {
		display: table-row;
	}
	.delay-info__direction,
	.delay-info__train,
	.delay-info__length,
	.delay-info__status {
		text-align: left;
	}
	td {
		&:last-child {
			padding: 0;
		}
	}
	span {
		display: block;
	}
	&__direction,
	&__train,
	&__length,
	&__status {
		font-size: 80%;
	}
	&__train {
		margin: 0 0 1rem;
	}
	&__length {
		color: $clr-delayed;
	}
}

//
// Train Line Status Indicator
// --------------------------------------------------------------------------
.status-circle {
	display: block;
	height: 1.25rem;
	width: 1.25rem;
	border-radius: 50%;
}

//
// Goals
// --------------------------------------------------------------------------
.goal-complete {
	text-decoration: line-through;
}